body {
	background-color: black;



}
#wrapper {
	width: 90%;
	background-color: lightblue;
	margin: auto;
}
h1 {
	color: orange;
	text-align: center;
	font-size: 80px;
	font-family: "Comic Sans MS", cursive, serif;
}
/*.content {
	padding: 10%;
	float: right;
	border: solid 10px orange;
}
.content p {
	color: orange;
	margin: 0% 45% 2% 5%;;
	font-size: 25px;
	border: solid 5px yellow;
	text-align: center;
}*/
nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}
nav li {
	padding: 0;
}

nav a {
	padding: 10px 5px 10px 20px;
	display: block;
	border-bottom: thin solid #FFF;
	text-decoration: none;
	color: #000066;
	background-color: #EAEAEA;
}

nav a:hover {
	color: #EAEAEA;
	background-color: #000066;
}
#left-column {
	width: 150px;
	float: left;
}
#right-column {
	width: 150px;
	float: right;
}
#content {
	color: orange;	
}
#jack-fig {
	float: right; 
	border:solid 5px yellow;
}
#jack-pic {
	
}
figure figcaption {
	color: orange;
	font-family: "Comic Sans MS", cursive, serif;
	text-align: center;
	font-size: 40px;
}

footer {
	color: orange;
	font-size: 25px;
	border: solid 5px yellow;
}
#clear {
	clear: both;
}
#loud {
	font-style: bold;
	font-size: 28px; 
	font-family: "Comic Sans MS", cursive, serif;
}
