body {
	background-color: black;



}
#wrapper {
	width: 90%;
	margin: auto;
}
h1 {
	color: orange;
	text-align: center;
	font-size: 80px;
	font-family: "Comic Sans MS", cursive, serif;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
}
nav li {
	padding: 0;
}
nav a {
	padding: 10px 5px 10px 20px;
	display: block;
	border-bottom: thin solid yellow;
	text-decoration: none;
	color: chocolate;
}

nav a:hover {
	color: yellow;
	background-color: black;
}
#content {
	padding: 10px;
	color: orange;	
}
#content p { 
        width: 80%;
        border: solid 5px yellow;
	text-align: center;
}
.clear {
	clear: both;
}
#left-column {
        background-color: #654321;
	border: solid 1px yellow;
        padding: 25px; 
        height: 300px;
	width: 15%;
	float: left;

}
#right-column {
	width: 80%;
	float: right;
}
#jack-fig {
	float: right; 
	border:solid 5px yellow;
}
#jack-pic {
	
}
#jack-fig figcaption {
	color: orange;
	font-family: "Comic Sans MS", cursive, serif;
	text-align: center;
	font-size: 40px;
}

footer {
	color: orange;
	font-size: 25px;
	border: solid 5px yellow;
}
header {
	
}
#loud {
	font-size: 28px; 
	font-family: "Comic Sans MS", cursive, serif;
}
@media only screen and (max-width: 768px){
	body {
		margin: 0;
	}
	#wrapper {
		width: 100%;
	}
	#left-column {
		float: none;
		width: 100%;

	}
	#right-column{
		margin-left: 0;
	}
	ul {
		background-color: black;
	}
	nav li {
		display: inline;
	}
	nav a {
		display: inline-block;
		border-bottom: none;
		border-right: thin solid yellow;
	}
}
@media only screen and (max-width: 480px){
	#wrapper {
		margin-top: -23px;
	}
	nav ul {
		margin-bottom: 0;
	}
	nav li {
		display: block;
	}
	nav a {
		width: 100%;
		border-bottom: thin solid yellow;
		border-right: none;
	}
	#jack-fig {
		float: none;
		border: none;
		width: 100px;
		margin: auto;
	}
	img {
		width:100px;
		height: 100px;
	}
}
