#debt_table {
	border-collapse: collapse;
	background-color: darkgray;
	border: 5px solid black;
	margin: auto;
	margin-top: 0px;
}
caption {
	font-family: serif;
	color: gray;
}
nav ul{
	list-style-type: none;
	text-align: center;
}
nav li{
	display: inline-block;
}
body { 
	background-color: lightgray;
	font-size: 25px;
}
header {
        text-align: center;
	background-color: #BCED91;
}	

table td, table th {
	border: 2px solid black;
}
.table-heading {
	background-color: #BCED91;
}
table tr {
	background-color: lightblue;
}
.payment:nth-of-type(odd) {
	background-color: #E6F3F7;
}
footer {
	font-size: 45px;
	color: gray;
}
