section {
	background-image: url('old-car.png');
}
.design-selection ul{
	vertical-align: middle;
}
.   {
	list-style-image: url("road.png");
	list-style-position: inside;
	
}
li {
	background-color: white;
	margin: 5% 45% 5% 45%;
	padding: 30px;
	height: 160px;
	text-align: center;
}
aside {
	background-image: url('road.png');
	border-left: 60px dashed yellow;
	border-right: 60px dashed yellow;
}
.resources{
	color: white;
}
