body {
	text-align: center;
	font-size: 20px;
	background-color: gray;
}/*
.page-wrapper{
	 background-image: url('wallpaper.png');
        background-repeat: repeat;
}*/
.intro {
	
	background-color: lightgray;
}
.summary {
	background-image: url('old-car.png');
	background-repeat: repeat-x;
	padding: 30px;
}
.preamble {
	background-image: url('pizza_truck.png');
        background-repeat: repeat-x;
        padding: 30px;
}
#zen-supporting {
	background-image: url('old-car.png');
        background-repeat: repeat-x;
        padding: 30px;
}
#zen-participation {
	color: tan;
	background-image: url('pizza_truck.png');
        background-repeat: repeat-x;
        padding: 30px;
}
#zen-participation h3, .preamble h3 {
	color: tan;
	background-color: darkred;
}
#zen-supporting h3 {
	color: darkred;
	background-color: tan;
}
p {
	opacity: .7;
	background-color: rgb(50,50,50);
	color: white;
}
.requirements {
	text-align: left;
	color: white;
	background-image: url('oldtimer.png');
        background-repeat: no-repeat;
	background-position: right;
	padding: 10%;
}
header{
	color: darkred;
	font-size: 30px;
}
h3 {
	font-size: 25px;
	color: darkred;
}
.design-selection ul{
	vertical-align: middle;
}
a {
	list-style-position: inside;
	text-align: center;
	
}
li {
	background-color: white;
	margin: 5% 45% 5% 45%;
	padding: 30px;
	height: 160px;
}
aside {
	position: relative;
	background-image: url('road.png');
	background-color: black;
	border-left: 60px dashed yellow;
	border-right: 60px dashed yellow;
}
.archives{
	color: white;
	font-size: 22px;
	font-family: "Courier New", Courier, monospace;
	background-image: url('old-car-black.png');
	background-repeat: no-repeat;
	padding: 90px 90px;
	margin: 10%;
	float:right;
	transform: rotate(270deg);
	
}
.resources{
	color: white;
	font-size: 22px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-image: url('pizza_truck.png');
	background-repeat: no-repeat;
	padding: 90px 90px;
	margin: 10%;
	float: left;
	transform: rotate(270deg);
	
}
.select{
	position: absolute;
	top: 25px;
	left: 10;
	color: white;
	font-size: 22px;
	font-family: "Courier New", Courier, monospace;
	background-image: url('model_t.png');
	background-repeat: no-repeat;
	padding: 90px 90px;
	margin: 10%;
	float:right;
	transform: rotate(300deg);
	
}
/*
@media only screen and (min-width: 600px) {	
}


