body { 
	background-color: lightblue;
}
#mango figcaption{
	font-size: 10px !important;
	color: gray;
}
#book {
	width: 90%;
	text-align: center;
}
.makeover {
/*	float: left;*/
	width: 80%;
}
.makeover-right{
/*	float:left;*/
	width: 700%;
}
nav li:hover {
	background-color: darkgreen;
}
nav ul{
        list-style-type: none;
        text-align: center;
}
nav li{
        display: inline-block;
}
.small {
	font-size: 15px;
	color: green;
}

#debt-tiper img{
	width: 200px;
}

#debt-tiper{
	border: thin solid #000;
	width: 200px;
	box-shadow: 3px 3px 1px rgb(150,150,150);
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}
#debt_table {
        border-collapse: collapse;
        background-color: darkgray;
        border: 5px solid black;
        margin: auto;
        margin-top: 0px;
}
caption {
        font-family: serif;
        color: gray;
}
nav ul{ 
        list-style-type: none;
        text-align: center;
}
nav li{
        display: inline-block;
}
body {
        background-color: lightgray;
        font-size: 25px;
}
header {
        text-align: center;
        background-color: #BCED91;
}

table td, table th {
        border: 2px solid black;
}
.table-heading {
        background-color: #BCED91;
}
table tr {
        background-color: lightblue;
}
.payment:nth-of-type(odd) {
        background-color: #E6F3F7;
}
footer {
}
#contact-email {
	font-size: 25px !important;
	color: black !important;
}
.on {
	color: green;
}
@media only screen and (max-width: 768px){
        body {
                margin: 0;
        }
        ul {
                background-color: gray;
        }
        nav li {
                display: inline;
        }
        nav a {
                display: inline-block;
                border-bottom: none;
                border-right: thin solid black;
        }
}
@media only screen and (max-width: 480px){
        nav ul {
                margin-bottom: 0;
        }
        nav li {
                display: block;
        }
        nav a {
                width: 100%;
                border-bottom: thin solid black;
                border-right: none;
        }
        img {
                width:100px;
                height: 100px;
	}
}
