p {
        color: green;
}
body {
        background-color: lightblue;
}
nav a{
        background-color: lightgreen;
}
dd {
        background-color: lightgrey;
}
dt {
        background-color: grey;
}
li  {
        font-size: 40px;
	font-style: italic;
}
