body {
/*	background-image: url("photos/spider1.jpg");
	background-repeat: no-repeat;*/
}
header {

}
ul {
	list-style-image: url("photos/sm_spid_3.png");
}
footer {
	font-size: 30px;
	color: orange;
}
