body { 
	background-color: lightgray;
}
header {
        text-align: center;
}	

table { 
	background-color: darkgray;
	border: 8px solid black;
	margin: auto;
}
table td, table th {
	border: 5px solid black;
}
